{% extends 'user_base.html.twig' %}

{% block body %}

 <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/assets/images/style/autoportrait1.jpg" data-aos="fade">
    <div class="container inner pt-120 pb-120 text-center">
      <h1 class="heading">ABOUT <span class="typer" data-delay="150" data-delim=":" data-words="PHOTOGRAPHY:TIME:LENS:me?" data-aos="zoom-out-down"></span><span class="cursor" data-owner="typer"></span></h1>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
   <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">Who am i ?</h2>
      <div class="row">
        <div class="col-lg-6 text-md-center" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
          <figure><img src="/uploads/images/Grossebouche-5ee73defbe804.jpeg" alt="autoportrait"></figure>
        </div>
        <!-- /column -->
        <div class="space30 d-block d-lg-none d-xl-none"></div>
        <div class="col-lg-6"data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1700">
          <p><span class="dropcap color-forest">H</span>onestly, we don't really care who I am, where or when I was born.
           Through this website, I did not want to talk about myself or even bring you my "vision" of photography or to play up techniques and knowledge in this area.
          </p>
          <p><span class="dropcap color-green">A</span>ll I know is that I like to find myself with a camera in my hands,
           look around me no matter where I am and take the time to see things from another angle and through the viewfinder.
          </p>
          <p><span class="dropcap color-teal">H</span>owever, all of this is not without difficulty because beyond the pleasure of photographing
           there is a whole part of image processing which bothers me much more than it amuses me. I can't deny that I have a certain pleasure in
            discovering the result of my photo "session" but still, spending hours sorting it out to retain only 10 photos out of 200 ... it's a bit disappointing.
          </p>
          <p><span class="dropcap color-oasis">A</span>t last and to conclude, I would just like to say a word about what led me to take photography in the first place
          . In spite of myself, I always wonder if I have time to do what I want to do, I try to optimize my time in almost every moment of life and when for the first
           time I stuck my eye in the viewfinder of a camera, this obsession has disappeared. I had to take the time to even just see. I think this is what I like most 
           about photography and I hope you enjoy taking the time to see my modest contributions to the world of photography.
           </p>
            <footer class="blockquote-footer">Arnaud Terret</footer>
          <ul class="social social-color social-s mb-15">
            <li><a href="https://www.instagram.com/aruno69/" title="My instagram page" class="hover has-tooltip mt-5" data-placement="top" target="_blank"><i class="fa fa-instagram text-dark"></i></a></li>
            <li><a href="https://gurushots.com/aruno69/photos" title="My gurushot profile" class="hover has-tooltip mb-3" data-placement="top" target="_blank"><i><img src="/assets/icons/gurushotIcon.png" alt="gurushot icon" width="18px" height="auto"/></i></a></li>
          </ul>
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row -->
      <div class="space70"></div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper  image-wrapper bg-image inverse-text" data-image-src="/uploads/images/pentax-5ee7b1089ebb7.jpeg">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">Meet my Team</h2>
      <div class="swiper-container-wrapper swiper-col4" data-aos="fade">
        <div class="swiper-container text-center">
          <div class="swiper-wrapper">
            <div class="swiper-slide"  data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
              <figure class="mb-20"> <img src="/uploads/images/sony50mm-5ee774eac3111.jpeg" alt="sony50mm" /> </figure>
              <h5 class="mb-5">Sony 50mm</h5>
              <div class="meta">The cheap guy</div>
              <p>One of my favourites ! It is an all-time winner with easy handling and sharp rendering</p>
                <a href="https://www.lesnumeriques.com/focales-fixes/sony-fe-50mm-f-1-8-p32201/test.html" target="_blank">learn more about this handy boy</a>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
              <figure class="mb-20"><img src="/uploads/images/takumar-5ee774d1d4630.jpeg" alt="" /></figure>
              <h5 class="mb-5">Asahi takumar 150mm</h5>
              <div class="meta">The old guy</div>
              <p>I cannot describe the feeling provided by this lens. It is coming straight from the past but still works so fine.</p>
              <a href="https://www.pentaxforums.com/lensreviews/S-M-C-Super-Takumar-150mm-F4.html" target="_blank">learn more about this oldie</a>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide" data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine">
              <figure class="mb-20"><img src="/uploads/images/flectogon-5ee77506641de.jpeg" alt="" /></figure>
             <h5 class="mb-5">Carl Zeiss flektogon 35mm</h5>
              <div class="meta">the sharp guy</div>
              <p>Another old one I appreciate for it's sharpness and design. Even the feeling and the sound when i turn the focus ring is perfect.</p>
              <a href="http://vintage-camera-lenses.com/carl-zeiss-jena-flektogon-35mm-2-8/" target="_blank">learn more about this beauty</a>
            </div>
            <!--/.swiper-slide -->
            <div class="swiper-slide" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
              <figure class="mb-20"><img src="/uploads/images/lomography-5ee774be1a145.jpeg" alt="" /></figure>
              <h5 class="mb-5">Lomography fisheye</h5>
              <div class="meta">the young toy</div>
              <p>Not the usual one but an incredible toy to make particular pictures. Can be taken anywhere, anytime.</p>
               <a href="https://shop.lomography.com/fr/cameras/camera-best-sellers/fisheye-no-2" target="_blank">learn more about this joy toy</a>
            </div>
            <!--/.swiper-slide -->
          </div>
          <!-- .swiper-wrapper --> 
        </div>
        <!-- .swiper-container -->
        <div class="swiper-pagination gap-large"></div>
      </div>
      <!-- .swiper-container-wrapper --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
   <div class="wrapper light-wrapper " >
    <div class="container inner pt-120 pb-120">
      <div class="row counter">
        <div class="col-md-3 text-center">
          <div class="icon fs-54 icon-color color-forest mb-15"><i class="fas fa-camera"></i></div>
          <h2>at least</h2>
          <a href="#" class="hover has-tooltip" title="much more in fact"  data-placement="left"><h3 class="value">10000</h3></a>
          <p class="text-uppercase color-dark mb-0">Shots Taken</p>
        </div>
        <!--/column -->
        <div class="col-md-3 text-center">
          <div class="icon fs-54 icon-color color-green mb-15"> <i class="fas fa-plane"></i> </div>
          <h3 class="value">7</h3>
          <p class="text-uppercase color-dark mb-0">Trips to Japan</p>
          <a href="#" class="hover has-tooltip" title="I can't remember exactly"  data-placement="bottom"><h2>more or less</h2></a>
        </div>
        <!--/column -->
        <div class="col-md-3 text-center">
         <div class="icon fs-54 icon-color color-teal mb-15"><i class="fas fa-tired"></i></div>
          <h2>more than less</h2>
          <h3 class="value">9980</h3>
          <a href="#" class="hover has-tooltip" title="Aaaaarrrghhh"  data-placement="bottom"><p class="text-uppercase color-dark mb-0">Shots missed</p></a>
        </div>
        <!--/column -->
        <div class="col-md-3 text-center">
          <div class="icon fs-54 icon-color color-oasis mb-15"> <i class="fas fa-walking"></i> </div>
          <a href="#" class="hover has-tooltip" title="For real, I don't know"  data-placement="right"><h3 class="value">500</h3></a>
          <p class="text-uppercase color-dark mb-0">Wandered kms</p>
           <h2>approximatively</h2>
        </div>
        <!--/column --> 
      </div>
      <!--/.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
  <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/uploads/images/pentax-5ee7b1089ebb7.jpeg">
  <h1 class="text-center">BS PROVERBS</h1>
    <div class="container inner pt-120 pb-120">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="swiper-container-wrapper basic-slider">
            <div class="swiper-container text-center">
              <div class="swiper-wrapper">

                {% for quote in quotes %}

                <div class="swiper-slide">
                  <blockquote class="icon icon-top larger">
                    <p>{{ quote.text }}</p>
                    <footer class="blockquote-footer">{{ quote.author }}</footer>
                  </blockquote>
                </div>
                <!-- /.swiper-slide -->

                {% endfor %}
               
              </div>
              <!-- /.swiper-wrapper --> 
            </div>
            <!-- /.swiper-container -->
            <div class="swiper-pagination gap-small"></div>
          </div>
          <!-- .swiper-container-wrapper --> 
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.wrapper -->
{% endblock %}