{% extends 'user_base.html.twig' %}

{% block body %}

 <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/assets/images/style/autoportrait1.jpg" data-aos="fade">
    <div class="container inner pt-120 pb-120 text-center">
      <h1 class="heading">ABOUT <span class="typer" data-delay="150" data-delim=":" data-words="ME:PHOTOGRAPHY:INSPIRATION:LIFE" data-aos="zoom-out-down"></span><span class="cursor" data-owner="typer"></span></h1>
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.wrapper -->
{% endblock %}