{% extends 'user_base.html.twig' %}

{% block body %}
                
  <div class="wrapper light-wrapper" >
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h2 class="section-title text-center" data-aos="fade-down">Contact Me</h2>
          <div data-aos="zoom-in-down">
            {{ include('home/forms/_contact_form.html.twig', {'submitButtonText': 'send'})}}
          </div>
          <h1 class="text-center" data-aos="flip-up" >And</h1>
          <h2 class="text-center text-dark">Do not hesitate to have a look at some more personnal stuff : </h2>
          <p class="text-center">My
            <a href="https://gurushots.com/aruno69/photos" title="Follow and support me here !" class="hover has-tooltip " data-placement="top" target="_blank" data-aos="zoom-in">
              <i>
                <img src="/assets/icons/gurushotIcon.png" alt="gurushot icon" width="18px" height="auto"/>
              </i>  gurushot
            </a> challenger profile
          </p>
        </div>
        <!-- /column --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.container inner--> 
    <h1 class="text-center mt-5" data-aos="flip-down" >Or</h1>
    <div class="instagram-wrapper">
      <div class="swiper-container-wrapper">
        <div class="swiper-container swiper-instagram2">
            <div id="instafeed4" class="swiper-wrapper"></div>
        </div>
        <!-- /.swiper-container --> 
      </div>
      <!-- /.swiper-container-wrapper --> 
        <a href="https://www.instagram.com/aruno69/" target="_blank" class="btn btn-full">Follow me @ Instagram</a> </div>
    </div>
    <!-- /.instagram-wrapper --> 
  </div>
  <!-- /.wrapper -->            
        
{% endblock %}