{% extends 'user_base.html.twig' %}

{% block body %}
<main role="main" class="container text-light">
  <h1>Contact</h1>
   {{ include('home/forms/_contact_form.html.twig', {'submitButtonText': 'send'})}}
</main>
{% endblock %}