<div style="margin-bottom:60px">
<p>Raison sociale : YKF<br />
S.A. au capital de 50 000 &euro;<br />
RCS Paris 489 809 186<br />
TVA intracommunautaire : FR 81 489 809 186<br />
8 rue des Francs-Bourgeois, 75 003 Paris<br />
Tel : 01 72 50 00 52<br />
Email : contact@yellowkorner.com<br />
YellowKorner est dirig&eacute;e par Paul-Antoine Briat et Alexandre de Metz</p>
&nbsp;
<h3>YELLOWKORNER.COM</h3>
<p>H&eacute;bergeur : OVH<br />
Paiement s&eacute;curis&eacute; : CREDIT MUTUEL<br />
Responsable de la publication : Alexandre de Metz</p>
&nbsp;
<h3>DROITS SUR L'&OElig;UVRE</h3>
<p>L'artiste, pour avoir pris l'initiative de sa cr&eacute;ation, reste titulaire des droits d'auteur sur sa cr&eacute;ation, au sens de la loi fran&ccedil;aise. Les droits de repr&eacute;sentation et de reproduction des oeuvres pr&eacute;sentes sur le site yellowkorner.com appartiennent &agrave; leurs auteurs et &agrave; YellowKorner . Leur autorisation conjointe est n&eacute;cessaire pour toute exploitation de ces droits. Vos droits sur l'oeuvre achet&eacute;e sont donc limit&eacute;s &agrave; un droit d'usage priv&eacute;, excluant tout droit de repr&eacute;sentation et de reproduction.</p>
&nbsp;
<h3>DROIT DE PROPRI&Eacute;T&Eacute; INTELLECTUELLE</h3>
<p>Tous les &eacute;l&eacute;ments pr&eacute;sents sur le site et le site en lui-m&ecirc;me sont prot&eacute;g&eacute;s par le droit d'auteur, droit des marques, des dessins et mod&egrave;les et/ou tout autre droit de la propri&eacute;t&eacute; intellectuelle. Par &eacute;l&eacute;ments, nous entendons de fa&ccedil;on non exhaustive : les photographies, images, dessins, illustrations, textes, vid&eacute;os, logos, marques, mod&egrave;les, logiciels...Ces &eacute;l&eacute;ments appartiennent &agrave; la soci&eacute;t&eacute; YellowKorner ou bien sont utilis&eacute;s avec l'accord de leurs propri&eacute;taires. A ce titre, toute reproduction, repr&eacute;sentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielles ou int&eacute;grales par quelque proc&eacute;d&eacute; et sur quelque support que ce soit (papier, num&eacute;rique...) sont interdites, sans l'autorisation &eacute;crite pr&eacute;alable de YellowKorner, hormis les exceptions vis&eacute;es &agrave; l'article L 122.5 du Code de Propri&eacute;t&eacute; Intellectuelle, sous peine de constituer un d&eacute;lit de contrefa&ccedil;on de droit d'auteur et/ou de dessins et mod&egrave;les et/ou de marque, puni de deux ans d'emprisonnement et de 152 449,02&euro; d'amende.</p>
&nbsp;
<h3>DONN&Eacute;ES PERSONNELLES</h3>
<p>Le traitement automatis&eacute; d'informations nominatives a &eacute;t&eacute; d&eacute;clar&eacute; aupr&egrave;s de la Commission Nationale de l'Informatique et des Libert&eacute;s sous le num&eacute;ro 1280165.<br />
En application de la loi Informatique et Libert&eacute;s du 6 janvier 1978, vous disposez d'un droit d'acc&egrave;s, de modification, de rectification et de suppression des donn&eacute;es vous concernant. Vous pouvez exercer ce droit en nous envoyant un courrier &agrave; l'adresse suivante :<br />
YKF<br />
Service Client<br />
8 rue des Francs-Bourgeois<br />
75 003 Paris<br />
Email : contact@yellowkorner.com<br />
T&eacute;l : 01 72 50 00 52</p>
&nbsp;
<h3>S&Eacute;CURIT&Eacute; DES DONN&Eacute;ES</h3>
<p>Les informations personnelles que vous confiez &agrave; YellowKorner sont stock&eacute;es sur les serveurs s&eacute;curis&eacute;s de notre h&eacute;bergeur Open Resources (hors donn&eacute;es bancaires). L'acc&egrave;s &agrave; ces informations est prot&eacute;g&eacute; et limit&eacute; aux op&eacute;rations d'enregistrement et de traitement de vos commandes, op&eacute;rations de statistiques nous permettant d'am&eacute;liorer nos services et services tels que envois de newsletters, alertes photos, recommandation &agrave; un ami ou parrainage.<br />
<br />
Lorsque vous r&eacute;glez une commande sur yellowKorner.com, vous saisissez vos coordonn&eacute;es bancaires directement sur le serveur s&eacute;curis&eacute; du Cr&eacute;dit Mutuel. Vos donn&eacute;es bancaires sont crypt&eacute;es (technologie SSL, Secure Socket Layer). Elles ne circulent pas en clair sur internet et ne peuvent &ecirc;tre intercept&eacute;es. YellowKorner n'a pas connaissance de vos coordonn&eacute;es bancaires.</p>
</div>
<div id="cookies" style="margin-bottom:60px">
<h3>COOKIES</h3>
&nbsp;
<p>Les cookies sont un fichier texte envoy&eacute; par notre site &agrave; votre navigateur et stock&eacute; sur votre ordinateur. Le site yellowkorner.com utilise un cookie dans 2 cas :<br />
- pour faciliter votre connexion au compte client en vous reconnaissant automatiquement. Ceci uniquement si vous en avez manifest&eacute; le souhait en cochant la case correspondante.<br />
- pour vous permettre de retrouver le contenu de votre panier jusqu'&agrave; 90 jours apr&egrave;s votre passage sur notre site.<br />
Le cookie ne prend en compte que vos actions r&eacute;alis&eacute;es sur YellowKorner.com. Il ne nous permet en aucun cas de conna&icirc;tre les autres sites que vous avez visit&eacute;s ou que vous allez visiter.<br />
Vous avez la possibilit&eacute; de supprimer vos cookies. Toutefois, &agrave; chaque nouvelle venue sur yellowkorner.com un nouveau cookie sera mis en place.</p>
</div>
</div>
</div>
</div>

</div>