{% extends 'user_base.html.twig' %}

{% block body %}
<section class="container mt-5">
    <div class="row">
        <div class="col text-light">
        <img src="{{ asset('uploads/images/' ~ image.Filename) }}" class=" w-75 " alt="{{ album.title ~ image.title}}">
            {{ include('image/forms/_comment_form.html.twig', {'submitButtonText': 'Post comment'})}}
        </div>
    </div>
</section>
{% endblock %}
