{% extends 'admin_base.html.twig' %}

{% block title %}Arnaud TERRET | Dashboard{% endblock %}

{% block body %}

<main class="wrapper light-wrapper">
    <h1 id="header-title">{{controller}}</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <h1 class="h1 text-center">Editing album - {{ album.title }}</h1>
                <div>
                    {{ include('admin/album/forms/_edit_form.html.twig', {'submitButtonText': 'Update album'})}}
                </div>
            </div>
        </div>
    </div>
</main> 

{% endblock %}