{% extends 'base.html.twig' %}

{% block title %}Arnaud TERRET | Dashboard{% endblock %}

{% block body %}

{% include 'includes/sidebar.html.twig' %}

    <main role="main">
        <div class="container mt-5">
         <h1 class="h1">Adding an album</h1>
        <div class="row mt-5">
                {{ include('admin/album/forms/_add_form.html.twig', {'submitButtonText': 'Add album'})}}
            </div>
        </div>
    </main> 
  </div>
</div>

{% endblock %}