<p class="text-light font-weight-bold border-top w-75 ">Posted by {{comment.author}} &bull; {{comment.postedAt|date('d/m/Y  H:i', 'Europe/Paris')}} :</p>
<p class="text-light text-break"> {{comment.content}}</p>