{{ form_start(form) }}
    {{ form_widget(form) }}
        <div class="d-flex justify-content-between">

            <input class="btn btn-success mt-2" type="submit" value="{{ submitButtonText }}" formnovalidate/>
        </div>
{{ form_end(form) }}