
    <!-- Row -->
    <div class="text-align-center border-2 border-dark pt-5 pb-5">
        <span class="text-muted successMessage"></span>
       <form name="contact" method="post" id="contactForm">
            <div class="form-group">  
                <label for="contact_Email" class="required text-dark">Your Email</label>
                <input type="text" id="contact_Email" name="contact[Email]" required="required" autofocus="autofocus" class="form-control">
                <span class="text-danger emailError"></span>
            </div>                                                        
            <div class="form-group">
                <label for="contact_Subject" class="required text-dark">Subject</label>
                <input type="text" id="contact_Subject" name="contact[Subject]" required="required" class="form-control">
                <span class="text-danger subjectError"></span>
            </div>                            
            <div class="form-group">
                <label for="contact_Message" class="required text-dark">Your Message</label>
                <textarea id="contact_Message" name="contact[Message]" required="required" class="form-control"></textarea>
                <span class="text-danger messageError"></span>
            </div>                             
            <div class="container">
                <button class="btn btn-forest send_message" type="button">Send</button>
            </div>
        </form>
    </div>
    <!--/Row -->

   
